@charset "utf-8";
/* CSS Document */
/*베이스아웃라인시작 */
#n_sub_title_wrap_01{width:100%; margin:0 auto; background-color:white;min-width:1260px;}
#n_sub_title_wrap_01 #n_sub_title_ct{width:1260px;height:168px; margin:0 auto; background-image: url(../images/sub_head_title_01.png) }

#n_sub_title_wrap_02{width:100%; margin:0 auto; background-color:white ;min-width:1260px;}
#n_sub_title_wrap_02 #n_sub_title_ct{width:1260px;height:168px; margin:0 auto; background-image: url(../images/sub_head_title_02.png) }

#n_sub_title_wrap_03{width:100%; margin:0 auto; background-color:white ;min-width:1260px;}
#n_sub_title_wrap_03 #n_sub_title_ct{width:1260px;height:168px; margin:0 auto; background-image: url(../images/sub_head_title_03.png) }

#n_sub_title_wrap_04{width:100%; margin:0 auto; background-color:white; min-width:1260px;}
#n_sub_title_wrap_04 #n_sub_title_ct{width:1260px;height:168px; margin:0 auto; background-image: url(../images/sub_head_title_04.png) }

#n_sub_title_wrap_05{width:100%; margin:0 auto; background-color:white; min-width:1260px;}
#n_sub_title_wrap_05 #n_sub_title_ct{width:1260px;height:168px; margin:0 auto; background-image: url(../images/sub_head_title_05.png) }

#n_sub_title_wrap_06{width:100%; margin:0 auto; background-color:white; min-width:1260px;}
#n_sub_title_wrap_06 #n_sub_title_ct{width:1260px;height:168px; margin:0 auto; background-image: url(../images/sub_head_title_06.png) }

#n_sub_title_wrap_07{width:100%; margin:0 auto; background-color:white;min-width:1260px;}
#n_sub_title_wrap_07 #n_sub_title_ct{width:1260px;height:168px; margin:0 auto; background-image: url(../images/sub_head_title_07.png) }

/*컨텐츠영역 */
/*#n_hd_txt_wrap:after {display:block;visibility:hidden;clear:both;content:""}*/
#n_sub_ct_wrap{
	width: 100%;
	margin: 20px auto;
	min-width: 1260px;
}
#n_sub_ct_wrap:after {display:block;visibility:hidden;clear:both;content:""}
#n_sub_ct_wrap #n_sub_container{
	width: 1260px;
	margin: 0 auto;
}

#n_sub_ct_wrap #n_gnb{
	width: 200px;
	flaot: left;
}
#n_gnb:after {display:block;visibility:hidden;clear:both;content:""}

#n_sub_ct_wrap #n_contents{
	width: 1000px;
	float: right;
	font-size:14px;
	line-height:150%;
}

/*베이스아웃라인종료 */
.n_sub_gnb_title {
	background-image: url(../images/sub_title01.gif);
	height: 81px;
	width: 190px;
	font-size: 12px;
	padding: 10px 0 0 10px;
	color: #646464;
}

.n_sub_gnb_title H3 {
font-size:20px;

}
/*기본테이블 레이아웃*/
/* 기본 테이블 */
.tb_base {width:100%; margin:15px 0 10px 0; border-collapse:separate; border-top:1px solid #363a41; color:#393939;}
.tb_base caption em{display:block; margin-bottom:10px; text-align:center; color:#333; font-style:normal;}
.tb_base caption span{position:absolute; top:-9999px; overflow:hidden; height:0px; width:0px;}
.tb_base thead th,.tb_base thead td {padding:7px 5px 9px 5px; background:#f0f1f5; border-left:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; text-align:center;  vertical-align:middle; }
.tb_base thead th.bl_none {border-left:0;}
.tb_base tbody th{padding:7px 5px 9px 16px; background:#f0f1f5; border-bottom:1px solid #d7d7d7; text-align:left; vertical-align:middle; }
.tb_base tbody th.ta_l {text-align:left; }
.tb_base tbody td {position:relative; padding:7px 10px 9px 15px; border-left:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; vertical-align:middle; word-wrap:break-word; word-break:keep-all;}
.tb_base tbody td .tb_btn{position:absolute; top:5px; right:10px;}
.tb_base tfoot th {padding:7px 5px 9px 5px; background:#f4f9ff; border-right:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; color:#00539f; text-align:center;  vertical-align:middle;}
.tb_base tfoot td {padding:7px 5px 9px 5px; text-align:center; font-weight:bold; background:#f4f9ff; border-left:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7;  color:#00539f; vertical-align:middle;}
.tb_base tfoot.tb_right td {padding:7px 10px 9px 5px; text-align:right; }
.tb_base td table{width:100%; margin:5px 0 10px 0; border-collapse:collapse; border-top:1px solid #9c9c9c; font-size:12px; }
.tb_base td table thead th {padding:5px 5px 7px 5px; text-align:center; background:#f8f8f8; color:#00539f; }
.tb_base td table tbody th {padding:5px 5px 7px 10px; background:none;}
.tb_base td table tbody td {padding:5px 5px 7px 10px; color:#666; }
.tb_base tbody tr.tb_sum,.tb_base tbody tr.tb_sum th, .tb_base tfoot tr.tb_sum td,.tb_base tfoot tr.tb_sum th {font-weight:bold; background:#fdf5fa; color:#a01933;}
.tb_base tbody tr.tb_sum2,.tb_base tbody tr.tb_sum2 th, .tb_base tfoot tr.tb_sum2 td,.tb_base tfoot tr.tb_sum2 th {font-weight:bold; background:#f0fdfa; color:#07775d;}
/* tdody th만 가운데 정렬 */
.tb_base tbody.th_center th {position:relative; padding:7px 10px 9px 10px; border-bottom:1px solid #d7d7d7; vertical-align:middle; text-align:center;;}
/* 전체 가운데정렬 */
.tb_base tbody.tb_center th {position:relative; padding:7px 10px 9px 10px; border-bottom:1px solid #d7d7d7; vertical-align:middle; text-align:center;}
.tb_base tbody.tb_center td {position:relative; padding:7px 5px 9px 5px; border-left:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; vertical-align:middle; text-align:center;}
.tb_base tbody.tb_center td.ta_l {padding:7px 10px 9px 15px; text-align:left;}
/* 전체 오른쪽정렬 */
.tb_base tbody.tb_right td {position:relative; padding:7px 10px 9px 5px; border-left:1px solid #d7d7d7; border-bottom:1px solid #d7d7d7; vertical-align:middle; text-align:right;}
/* 테이블 정렬 및 라인 정리  */
.tb_base tbody td.ta_c {padding:7px 5px 9px 10px; text-align:center;}
.tb_base tbody td.ta_r {padding:7px 10px 9px 10px; text-align:right;}
.tb_base tbody td.bl_none {border-left:0;}
.tb_base tbody th.th_bl {border-left:1px solid #d7d7d7;}
.tb_base tbody th.ta_c {padding:7px 5px 9px 10px; text-align:center;}
.tb_base tbody th.th_none { background-color:#fff; font-weight:normal;border-left:1px solid #d7d7d7;}

.tb_base td .btn_inline {margin-bottom:0;}
.tb_base td ul {margin-top:5px;}
.tb_base td ul li {margin-bottom:5px; }

/*테이블02*/
.tb_base_01 {
    width: 100%;
    border: 1px solid #9F9F9F';
    border-collapse: collapse;
  }

.tb_base_01 ,thead ,.tb_base_01 tr {
    border-top: 3px solid #000000;
  }

.tb_base_01  th,.tb_base_01 td {
    border: 1px solid #9F9F9F;
    padding: 10px;
  }
.tb_base_01 tr, .tb_base_01 td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }


/* 서브사이드바메뉴 */
.nav {
	width: 200px;
	font-family: 'Malgun Gothic', '맑은 고딕', 'Apple SD Gothic Neo', '돋움', Dotum, '굴림', Gulim, Verdana, Arial, sans-serif;
	font-size: 18px;
}
.nav li {
	background-image: url(../images/blit_arrow.png);
	background-repeat: no-repeat;
	background-position: 0px 17px;
}
.nav li a {
	display: block;
	line-height: 44px;
	border-bottom: 1px solid #cdcdcd;
	font-weight: bold;
	padding-left: 4px;
	color: #7a7a7a;
	text-indent: 10px;
}
.nav a:hover {
	text-decoration: none;
	color: #000;
}
.nav li.on_color a:hover { background-color: #9FE3DD; }
.nav #select > a{ color: #3fb2b7; }
.third_nav #select a {
	color: #0066CC;
}


.nav li ul li a {
	display: block;
	line-height: 30px;
	border-bottom: 1px solid #cdcdcd;
	font-weight: bold;
	padding-left: 14px;
	color: #7a7a7a;
	font-size: 13px;
	text-indent: 20px;
}
.nav li ul li {
	background-image: url(../images/blit_arrow.png);
	background-repeat: no-repeat;
	background-position: 20px 50%;
}
/* 서브사이드바메뉴마침 */

.navigator{
	float: left;
	;
	width: 100%;
	border: 1px solid #E4E4E4;
	margin-bottom: 20px;
	float:left;
}
.navigator li{float:left; margin:10px 5px;}

/*디자인레이아웃*/
.w100_box{width:100%; float: left;}
.w100_border_box{width:100%; border: 2px #ccc solid;float: left;}

.n_h4{
	color: #2460a0;
	font-size: 24px;
	background-image: url(../images/circle_icon2.png);
	text-indent: 18px;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	float:left;
	width:100%;
	padding:20px 0;
}

.w100_box dl{padding: 20px 0 0 0 ; }
.w100_box dl dt{
	font-size: 16px;
	background-image: url(../images/circle_icon.png);
	background-repeat: no-repeat;
	text-indent: 14px;
	background-position: 0px 50%;
	font-weight:bold;
}
.w100_box dl dd{padding: 5px 0 20px 0; }

.w100_box dl li{padding: 0px 0 10px 0; }

/*항목숨기기*/
.hidden{display:none;}

/*헤더이미지*/
.n_box_001{width:1000px; height:215px; background-image: url(../images/service_img_01.gif); background-repeat:no-repeat;}
.n_box_002{width:1000px; height:215px; background-image: url(../images/service_img_02.gif); background-repeat:no-repeat;}
.m_n_box_001{width:100%; background-image: url(../images/m_service_img_01.gif); background-repeat:no-repeat;}
.m_n_box_002{width:1000px; height:215px; heignt:auto; background-image: url(../images/m_service_img_02.gif); background-repeat:no-repeat;}

